.buttonrepeater-block {
    width: 55%;
    margin: 0 auto; 
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f8f6f2;
    display: grid;
    place-items: center;
}   

.buttonrepeater-container {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.hero-btn {
    background-color: #1a5427;
    color: #ffffff;
    text-align: center;
    width: auto;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

.hero-btn:hover {
    background-color: #2b6e3b;
}