.hamburger {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 22px;
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        margin: 10px;
        z-index: 1001;
    }

    .hamburger span {
        display: block;
        height: 4px;
        width: 100%;
        background: #333;
        border-radius: 2px;
        transition: all 0.3s ease;
    }

    .hamburger.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 7px);
    }

    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -8px);
    }

    .main-menu,
    .main-menu ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .main-menu a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: #000;
    }

    .main-menu li {
        position: relative;
    }

    .main-menu li ul.sub-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background: #f8f6f2;
        padding: 5px 0;
        border-radius: 5px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        z-index: 999;
    }

    .main-menu li ul.sub-menu li a {
        padding: 5px 15px;
        white-space: nowrap;
        color: #000;
    }

    .main-menu li:hover>ul.sub-menu {
        display: block;
    }

    .main-menu li ul.sub-menu li a:hover {
        background: #f0f0f0;
    }

    .dropdown-btn {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        font-weight: bold;
    }

    @media (max-width: 768px) {
        
        
        .hamburger {
            display: flex;
        }

        .main-menu {
            display: flex;
            flex-direction: row;
            background: #fff;
            border: 1px solid #ddd;
            border-radius: 6px;
            padding: 10px 20px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1000;
        }

        .main-menu.open {
            position: absolute;
            top: 50px;
            left: 0px;
            right: 0px;
        }

        .main-menu li ul.sub-menu {
            position: static;
            display: none;
            flex-direction: column;
            padding-left: 20px;
            margin-top: 5px;
            background: none;
            box-shadow: none;
        }

        .main-menu li ul.sub-menu li a {
            padding: 5px 0;
            color: #000;
        }

        .menu-header-menu-container {
        }
    }