$hover-pagination: #1a5428;
$pagination-bg: #f0f0f0;
$text-block-bg: rgba(218,220,224,0.44);
$font-color: #666;
$title-color: #111;

$font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
$title-size: 20px;
$text-font: Gill Sans, Gill Sans MT, Calibri, sans-serif;

$post-2: 400px;
$post-3: 320px;
$post-4: 260px;
$post-3-responsive: 280px;
$post-4-responsive: 260px;
