.button {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  color: white;
  background: #1a5427;
  margin-left: 2rem;
}
