.button {
    display: inline-block;
    margin: 10px;
    padding: 15px 25px;
    text-decoration: none; 
    background-color: #007BFF; 
    color: #fff; 
    border-radius: 50px;
    text-align: center; 
}
