.collapsed {
    overflow: hidden;

    a {
        display: inline-block;
        max-width: 2em;
        transition: max-width 300ms ease-in-out;
    }
}

a:hover,
a:focus,
li:hover a {
    max-width: 1000px;
}

li:hover:after {
    padding-left: 0em;
    background: transparent;
}

li {
    position: relative;
    overflow: visible;
}

.collapsed::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    background: linear-gradient(to right,
        rgba(255,255,255,0) 0%,
        rgba(255,255,255,0) 50%,
        rgba(255,255,255,1) 100%
    );

    filter: blur(1px);
}
