.collapsed {
    overflow: hidden;

    a {
        display: inline-block;
        max-width: 2em; 
        white-space: nowrap; 
        overflow: hidden; 
        transition: max-width 300ms ease-in-out;
    }
}

a:hover,
a:focus,
li:hover a {
    max-width: 1000px; 
    overflow: visible; 
    white-space: normal; 
}

li {
    position: relative;
    overflow: visible;
}

.collapsed::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    background: linear-gradient(
        to right,
        rgba(var(--background-color), 0) 0%,
        rgba(var(--background-color), 0.7) 75%,
        rgba(var(--background-color), 1) 110%
    );

    filter: blur(0.1px);
    transition: opacity 0.1s ease-in-out;
}

.collapsed:hover::after {
    opacity: 0;
}
