.block-image-field {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .image-content {
        display: block;
        object-fit: cover; 
        transition: all 0.3s ease;
    }
}
