.summary-block {
    margin-top: 50px;
    width: 100%;
    background-color: #f8f6f2;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.summary-container {
    max-width: 800px;
    width: 100%;
}

.summary-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
    padding: 0 20px;
    opacity: 1;
    filter: blur(0);
}

.summary-item.bottom {
    border-bottom: 1px solid #333;
}

.summary-item.top {
    border-top: 1px solid #333;
}

.summary-item.left {
    border-left: 1px solid #333;
}

.summary-item.right {
    border-right: 1px solid #333;
}

.summary-item.none {
    border: none;
}

.summary-item.full {
    border: 1px solid #333;
}

.summary-container:hover .summary-item {
    opacity: 0.3;
    filter: blur(1px);
}

.summary-container .summary-item:hover {
    opacity: 1;
    filter: blur(0);
    transform: scale(1.02);
}

.summary-title {
    font-size: 1.5rem;
}

.summary-year {
    font-size: 1.4rem;
    font-weight: 500;
    color: #7f7f7d;
}

@media screen and (max-width: 768px) {
    .summary-block {
        margin-top: 50px;
        width: 100%;
        background-color: #f8f6f2;
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }

    .summary-container {
        max-width: 800px;
        width: 70%;
    }

    .summary-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all 0.3s ease;
        padding: 0 20px;
        opacity: 1;
        filter: blur(0);
    }

    .summary-item.bottom {
        border-bottom: 1px solid #333;
    }

    .summary-item.top {
        border-top: 1px solid #333;
    }

    .summary-item.left {
        border-left: 1px solid #333;
    }

    .summary-item.right {
        border-right: 1px solid #333;
    }

    .summary-item.none {
        border: none;
    }

    .summary-item.full {
        border: 1px solid #333;
    }

    .summary-container:hover .summary-item {
        opacity: 0.3;
        filter: blur(1px);
    }

    .summary-container .summary-item:hover {
        opacity: 1;
        filter: blur(0);
        transform: scale(1.02);
    }

    .summary-title {
        font-size: 1.5rem;
    }

    .summary-year {
        font-size: 1.4rem;
        font-weight: 500;
        color: #7f7f7d;
    }
}
