.accordion-wrapper {
    .accordion-item.active {
        .accordion-title {
            background-color: var(--acc-active-bg, inherit);
            color: var(--acc-active-title-color, var(--acc-title-color));
            border-top-left-radius: var(--acc-radius-top-left, var(--acc-radius));
            border-top-right-radius: var(--acc-radius-top-right, var(--acc-radius));
            border-bottom-left-radius: var(--acc-radius-bottom-left, var(--acc-radius));
            border-bottom-right-radius: var(--acc-radius-bottom-right, var(--acc-radius));
        }

        .accordion-content {
            background-color: var(--acc-active-content-bg, inherit);
        }

        .accordion-icon i,
        .accordion-icon svg {
            transform: rotate(var(--acc-active-icon-rotation, 180deg));
            transition: transform 0.3s ease;
        }

        .accordion-icon {
            padding: var(--acc-icon-bg-padding);

            background-color: rgb(38, 37, 37);
            border-radius: var(--acc-icon-radius);

            border-top-left-radius: var(--acc-icon-radius-top-left, var(--acc-icon-radius));
            border-top-right-radius: var(--acc-icon-radius-top-right, var(--acc-icon-radius));
            border-bottom-left-radius: var(--acc-icon-radius-bottom-left, var(--acc-icon-radius));
            border-bottom-right-radius: var(--acc-icon-radius-bottom-right, var(--acc-icon-radius));
        }
    }

    .accordion-item .accordion-icon i,
    .accordion-item .accordion-icon svg {
        transform: rotate(0deg);
        transition: transform 0.3s ease;
    }
}
