.accordion-title {
    transition: all 0.3s ease;

    &:hover {
        background-color: var(--acc-hover-bg, transparent);
        color: var(--acc-hover-title-color, var(--acc-title-color));
        border-radius: var(--acc-radius);
        border-top-left-radius: var(--acc-radius-top-left, var(--acc-radius));
        border-top-right-radius: var(--acc-radius-top-right, var(--acc-radius));
        border-bottom-left-radius: var(--acc-radius-bottom-left, var(--acc-radius));
        border-bottom-right-radius: var(--acc-radius-bottom-right, var(--acc-radius));

        .accordion-icon i,
        .accordion-icon svg {
            color: var(--acc-hover-title-color, var(--acc-icon-color));
        }
    }
}
