.contact-form {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    background-color: #fff;
}

.contact-form p {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact-form label {
    font-weight: 600;
    font-size: 1rem;
    color: #333;
    margin-bottom: 6px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form input[type="date"],
.contact-form textarea {
    font-family: Arial, sans-serif;
    width: 100%;
    padding: 14px 20px;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    font-size: 0.9rem;
    outline: none;
    background-color: #f9f9f9;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #1a5427;
}

.contact-form textarea {
    resize: vertical;
    min-height: 120px;
}

.contact-form p input[type="submit"] {
    padding: 12px 30px;
    font-size: 1rem;
    color: #fff;
    background-color: #1a5427;
    border-radius: 6px;
    transition: all 0.3s ease;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.contact-form p input[type="submit"]:hover {
    background-color: #247937;
    transform: translateY(-1px);
}









body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f6f2;
    color: #333;
}

.site-wrapper{
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 3fr 1fr;
    min-height: 100vh;
    gap: 20px;
    background-color: #f8f6f2;
}

