.blogtext-block {
        margin-top: 10px;
        width: 100%;
        background-color: #f8f6f2;
    }

    .blogtext-container {
        width: 55%;
        margin: 0 auto;
        max-width: 800px;
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .blog-list {
        list-style-type: decimal;
        padding-left: 20px;   
        margin: 0;
    }

    .blog-text {
        font-size: 1.1rem;
        line-height: 1.6;
        margin-bottom: 8px;
    }