/*
.acf-input-wrap input[type="text"] {
  font-family: Arial, sans-serif;
  width: 100%;
  padding: 8px 15px;
  border-radius: 6px;
  border: 1px solid #1a5427;
  font-size: 1rem;
  background-color: #f9f9f9;
  outline: none;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

#titlewrap input[type="text"] {
  font-family: Arial, sans-serif;
  width: 100%;
  padding: 8px 15px;
  border-radius: 6px;
  border: 1.5px solid #1a5427;
  font-size: 1rem;
  background-color: #f9f9f9;
  outline: none;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
} 

.inside input[type="text"],
.inside select {
  font-family: Arial, sans-serif;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #1a5427;
  font-size: 1rem;
  background-color: #f9f9f9;
  outline: none;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}



.inside select:active {
  border: 1px solid #1a5427;
}

.inside input[type="text"]:active {
  border: 1px solid #1a5427;
}

.acfe-layout-title span {
  font-family: Arial, sans-serif;
  font-size: 1rem;
  margin: 10px;
  color: black;
}

.acf-fc-layout-handle {
  border-radius: 1rem;
}

.acf-fc-layout-handle:hover {
  border-radius: 1rem;
}


.postbox,
.postbox-header{
  border-radius: 1.05rem;
}

.layout {
  border-radius: 1.05rem;
}

.layout > .acfe-fc-placeholder.acfe-fc-preview > .acfe-flexible-placeholder{
  border-bottom-left-radius: 1.05rem;
  border-bottom-right-radius: 1.05rem;
}

#major-publishing-actions{
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}



.handle-order-lower,
.order-higher-indicator,
.toggle-indicator,
.dashicons{
  color: black !important;
}

.acf-table thead tr th {
  color: black;
  font-family: Arial, sans-serif;
  font-weight: 900;
}

.postbox-header h2 {
  color: black;
}

.acf-input textarea {
  width: 100%;
  min-height: 150px;
  padding: 12px 14px;
  font-size: 14px;
  line-height: 1.5;
  background-color: #f9f9f9;
  border: 1px solid #1a5427;
  border-radius: 6px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.03);
  transition: all 0.2s ease-in-out;
  font-family: "Inter", system-ui, sans-serif;
}

#publish,
#post-preview{
  border-radius: 2rem
}
.wp-color-result-text{
  background-color: transparent;
  border-left: 1px solid #c3c4c7;
  color: #50575e;
  display: block;
  line-height: 2.54;
  padding: 0 6px;
  text-align: center;
}
.wp-core-ui .button,
.wp-core-ui .button-secondary{
  border-radius: 2rem;
}

.acf-actions .acf-button{
  border-radius: 2rem;
}

.acf-table {
  border: #ccd0d4 solid 1px;
  background: #fff;
  border-spacing: 0;
  border-radius: 1rem;
  table-layout: auto;
  padding: 0;
  margin: 0;
  width: 100%;
  clear: both;
  box-sizing: content-box;
}
.acf-table thead .acf-row-handle {
  background-color: transparent;
}
.acf-repeater .acf-row-handle.order {
  background-color: transparent;
  border-bottom-left-radius: 1rem;
}
.acf-repeater .acf-row-handle.remove {
  background-color: transparent;
  border-bottom-right-radius: 1rem;
}

.acf-fields > .acf-tab-wrap .acf-tab-group li.active a,
.acf-fields > .acf-tab-wrap .acf-tab-group li a {
  padding: 6px 20px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.acf-link.-value .link-wrap {
  border-radius: 4px;
}
.acf-fields.-border {
  border-radius: 1rem;
}
.layout > .acfe-fc-placeholder {
  border-radius: 1rem;
}
.layout > .acf-fields > .acfe-flexible-opened-actions, .layout > .acf-table > .acfe-flexible-opened-actions {
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.acf-button-group img{
  max-width: 50px;
}

.icon_yellow {
  color: rgb(123, 123, 43) !important;
}

.acf-button-group label {
  color: black !important;
  background-color: transparent;
}

.acf-button-group label.selected {
  border: 2px solid #2271b1 !important;
}


.acf-button-group label:not(.selected) i {
  color: black !important;
}

.acf-button-group label:last-child {
  background-color: #ccd0d4 !important;
  border: #ccd0d4 solid 1px;
  border-radius: 2rem !important;
  margin: 2px !important;
  padding: 10px !important;
}
.acf-button-group label {
  background-color: #ccd0d4 !important;
  border: #ccd0d4 solid 1px !important;
  border-radius: 2rem !important;
  margin: 2px !important;
  padding: 10px !important;
}
.acf-button-group label:first-child {
  background-color: #ccd0d4 !important;
  border: #ccd0d4 solid 1px;
  border-radius: 2rem !important;
  margin: 2px !important;
  padding: 10px !important;
}

.acf-button-group label.selected {
  border: #1a5427 solid 2px !important;
  color: black !important;
}

.whitebtn{
  color: #fff !important;
}
.blackbtn{
  color: black !important;
}
.greenbtn{
  color: #1a5427 !important;
}

.acf-fields.-left > .acf-field::before {
  border-bottom-left-radius: 1rem;
}

.acf-flexible-content .layout .acf-fc-layout-handle {
  background-color: #1a5427;
}
.acfe-layout-title span {
  color: #fff;
}

.acf-fields > .acf-tab-wrap {
   border-radius: 0rem;
}
.acf-flexible-content .layout.-collapsed .acf-fc-layout-actions-wrap {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
*/