.image-container {
    width: var(--img-width);
    max-width: var(--img-max-width);
    height: var(--img-height);
    border-radius: var(--img-border-radius);
    object-fit: var(--img-object-fit);
    object-position: var(--img-object-position);

    img {
        width: 100%;
        height: 100%;
        border-radius: inherit;
        display: block;
    }
}
